<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/admin/css/simplecss.css">
    <link rel="stylesheet" href="/admin/css/index.css">
</head>
<body>
<div class="container">
    <div id="login">
        <div class="title">你不是管理员,没有使用权限</div>
        <form action="">
            <div class="content">
                <div class="row form-group btn-wrap">
                    <a href="/"  class="btn btn-danger">返回首页</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>