<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/admin/css/simplecss.css">
    <link rel="stylesheet" href="/admin/css/index.css">
</head>
<body>
    <div class="container">
        <div id="login">
            <div class="title">欢迎来到Nodeing后台管理系统</div>
            <form action="">
                <div class="content">
                    <div class="row form-group btn-wrap">
                        <a href="/"  class="btn btn-danger">前往首页</a>
                        <a href="/admin/admins/"  class="btn btn-danger" >前往后台管理系统</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>