<%- include('public-header.html')%>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<%- include('public-sidebar.html')%>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/admin/admins">首页</a>
							</li>
							<li class="active">编辑导航</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								编辑导航								
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="navName">导航名称:</label>

								<div class="col-sm-10">
									<input type="text" id="navName" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="navAddress">导航地址:</label>

								<div class="col-sm-10">
									<input type="text" id="navAddress" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>
						
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="nav-status">导航状态:</label>

								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="radio" id="status-show" value="显示" name="status"> 显示
									</label>
									<label class="checkbox-inline">
										<input type="radio" id="status-hide" value="隐藏" name="status"> 隐藏
									</label>
								</div>
							</div>

							 
							<div class="form-group">
							 
								<div class="col-sm-6 center">
									<button class="btn-save btn btn-primary">保存</button>
									<button class="btn-cancel btn btn-danger">取消</button>
								</div>
							</div>
					</form>
					 
					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->


		<%- include('public-footer.html')%>

		<script>
			$(function(){
				//接收来自list页面/admin/nav/editNav传来的name,将name所在的那行查询并显示到当前页面
				var loc = location.href;
  				var n1 = loc.length;//地址的总长度
  				var n2 = loc.indexOf("=");//取得=号的位置
				var id = decodeURI(loc.substr(n2+1, n1-n2));//从=号后面的内容
				$.post('/admin/nav/editNavPageInit',{id:id},function(result){
					if(result.success==='error'){
						alert(result.message)
					}else{
						//console.log(result);
						$('#navName').val(result.data.name);
						$('#navAddress').val(result.data.address);
						$('input[value="'+result.data.status+'"]').attr('checked','true');
					}
				})
				//编辑导航信息
				$('.btn-save').click(function(){
					var name=$.trim($('#navName').val());
					var address=$.trim($('#navAddress').val());
					var status=$('input[name="status"]:checked').val();
					$.post('/admin/nav/editNavSave',{
						name:name,
						address:address,
						status:status,
						id:id
					},function(result){
						if(result.success==='success'){
							alert(result.data);
							window.location.href='/admin/nav/list';
						}else{
							alert(result.data);
						}
					})
					return false;
				})
				$('.btn-cancel').click(function(){
					location.reload();
					return false;
				});
			})
		</script>

	
</body>
</html>

