<%- include('public-header.html')%>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<%- include('public-sidebar.html')%>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">添加用户</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								添加用户								
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="username">用户名:</label>

								<div class="col-sm-10">
									<input type="text" id="addUsername" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="addEmail">邮箱:</label>

								<div class="col-sm-10">
									<input type="text" id="addEmail" placeholder="" class="col-xs-10 col-sm-5">
									<span class="message-email"></span>
								</div>
							</div>
					 
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="addPassword">密码:</label>

								<div class="col-sm-10">
									<input type="password" id="addPassword" placeholder="" class="col-xs-10 col-sm-5">
									<span class="message-password"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="addRepassword">确认密码:</label>

								<div class="col-sm-10">
									<input type="password" id="addRepassword" placeholder="" class="col-xs-10 col-sm-5">
									<span class="message-repassword"></span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">角色:</label>

								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="radio" id="adminstrator" value="adminstrator" name="role"> 管理员
									</label>
									<label class="checkbox-inline">
										<input type="radio" id="guest" value="guest" name="role"> 普通用户
									</label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">状态:</label>

								<div class="col-sm-10">
									<label class="checkbox-inline">
										<input type="radio" id="activation" value="1" name="status"> 激活
									</label>
									<label class="checkbox-inline">
										<input type="radio" id="forbidden" value="0" name="status"> 禁用
									</label>
								</div>
							</div>
							<div class="form-group">
							 
								<div class="col-sm-6 center">
									<button class="saveBtn btn btn-primary">保存</button>
									<button class="cancelBtn btn btn-danger" type="button">取消</button>
								</div>
							</div>
					</form>
					 
					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->


		<%- include('public-footer.html')%>



		<script>
			$(function(){
				$('#addEmail').blur(function(){
					if(!$('#addEmail').val()){
						$('.message-email').html('邮箱不能为空').css('color','red');
						$('.btn-primary').attr('disabled',true);
					}else if(!$('#addEmail').val().match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
						$('.message-email').html('邮箱格式不正确').css('color','red');
						$('btn-primary').attr('disabled',true);
					}else{
						//将用户输入内容发送到后台验证邮箱是否存在
						$.get('/admin/user/addUserEmail',{email:$('#addEmail').val()},function(result){
							if(result.success==='error'){
								$('.message-email').html(result.data).css('color','red');
								$('btn-primary').attr('disabled',true);
							}else{
								$('.message-email').html('');
								$('btn-primary').attr('disabled',false);
							}
						},'json');
						$('btn-primary').attr('disabled',false);
					}
				});
				//验证密码与确认密码是否一致
				$('#addPassword').blur(function(){
					if(!$(this).val()){
						$('.message-password').html('密码不能为空').css('color','red');
						$('btn-primary').attr('disabled',true);
					}else{
						$('.message-password').html('');
						$('btn-primary').attr('disabled',false);
					}
				});
				$('#addRepassword').blur(function(){
					if(!$(this).val()){
						$('.message-repassword').html('请再次确认密码').css('color','red');
						$('btn-primary').attr('disabled',true);
					}else if($(this).val()!==$('#addPassword').val()){
						$('.message-repassword').html('两次密码不一致').css('color','red');
						$('btn-primary').attr('disabled',true);
					}else{
						$('.message-repassword').html('');
						$('btn-primary').attr('disabled',false);
					}
				});
				//点击添加按钮,将email,username,password,status,role,create_time这些数据
				//发送到后台--->后台将这些数据存储到数据库中
				$('.saveBtn').click(function(){
					var roleValue=$('input[name="role"]:checked').val();
					var statusValue=$('input[name="role"]:checked').val();
					if(!roleValue || !statusValue ){
						alert('请选择用户角色或状态')
					}else{
						var date=new Date();
						var currentTime=date.getFullYear()+'/'+Number(date.getMonth()+1)+'/'+date.getDate();
						//获取到表单中输入的数据,并发送到后台
						$.post('/admin/user/addUserInfo',{
							email:$.trim($('#addEmail').val()),
							username:$.trim($('#addUsername').val()),
							password:$.trim($('#addPassword').val()),
							status:$('input[name="status"]:checked').val(),
							role:'guest',
							create_time:currentTime
						},function(result){
							if(result.success==='error'){
									alert(result.data);
									window.location.reload();
								}else{
									alert(result.data);
									window.location.href='/admin/user/list';
								}
						})
					}
					return false;
				});	
				$('.cancelBtn').click(function(){
					window.location.reload();
				})
			})
			
		</script>
	
</body>
</html>

