<div id="top" class="top">
    <div class="wrap">
        <div class="logo center" id="navLogo">
            <img src="/home/img/index/logo.png"/>
        </div>
        <div class="nav" id="nav">
            <a href="/" class="active">首页</a>
            <a href="#">学习路线</a>
            <a href="#">会员</a>
            <a href="#">转行就业班</a>
            <span class="loginSign">
                <a href="/login">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/register">注册</a>
            </span>
        </div>    
    </div>
    <div class="isLogin">
        <span class="sayHi">你好,欢迎登录</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="toadmin" href="/admin/admins" title="前往后台管理系统">ðŸ‘¥</a>
        <button class="logoutBtn" type="button">退出</button>
    </div>
</div>