<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/home/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/home/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/home/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/home/css/login.css"/>
		<link rel="stylesheet" type="text/css" href="/home/css/register.css"/>
		<style>
			.message{
				padding-top:10px;
				font-size:12px;
			}
		</style>
	</head>
	<body>
            <%- include('public-header.html')%>
		<div id="content" class="content">
			<div class="wrap">
				<div class="login">
					<h3>注册</h3>
					<div class="group">
						<label for="email"></label>
						<input type="text" name="" id="email" value="" placeholder="邮箱"/>
						<div class="message message-email"></div>
					</div>
					<div class="group">
						<label for="password" class="password"></label>
						<input type="password" name="" id="password" required="required" value="" placeholder="密码"/>
						<div class="message message-pass"></div>
					</div>
					<div class="group">
						<label for="repassword" class="password"></label>
						<input type="password" name="" id="repassword" required="required" value="" placeholder="确认密码"/>
						<div class="message message-repass"></div>
					</div>
					<button id="btn">注册</button><br />
					<a href="/login">直接登录</a>

				</div>
			</div>
		</div>
		<%- include('public-footer.html')%>
		<script src="/admin/js/jquery-2.0.3.min.js"></script>
		<script>
			$(function(){
				// 绑定blur事件:
				//注册功能逻辑:用户输入邮箱失去焦点后,先判断输入内容是否为空,如果为空则提示.
				//如果不为空,则需将输入的邮箱内容发送到后台-->后台接收前端发送的数据
				//-->后台将接收到的数据放到数据库中进行比对-->查询是否存在,若存在,则不可以注册,反之,可注册.
				
				//若果可以注册,判断输入密码与再次输入密码是否一致,若不一致,进行提示
				//若一致将输入的邮箱,密码,当前时间,role,username,等保存到数据库
				//1.用户名验证
				$('#email').blur(function(){
					if(!$('#email').val()){
						$('.message-email').html('用户名不能为空').css('color','red');
						$('#btn').attr('disabled',true);
					}else if(!$('#email').val().match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
						$('.message-email').html('邮箱格式不正确').css('color','red');
						$('#btn').attr('disabled',true);
					}else{
						//将用户输入内容发送到后台验证邮箱是否存在
						$.get('/getuser',{email:$('#email').val()},function(result){
							if(result.success==='error'){
								$('.message-email').html(result.data).css('color','red');
								$('#btn').attr('disabled',true);
							}else{
								$('.message-email').html();
								$('#btn').attr('disabled',false);
							}
						},'json');
						$('#btn').attr('disabled',false);
					}
				});
				//验证密码与确认密码是否一致
				$('#password').blur(function(){
					if(!$(this).val()){
						$('.message-pass').html('密码不能为空').css('color','red');
						$('#btn').attr('disabled',true);
					}else{
						$('.message-pass').html('');
						$('#btn').attr('disabled',false);
					}
				});
				$('#repassword').blur(function(){
					if(!$(this).val()){
						$('.message-repass').html('请再次确认密码').css('color','red');
						$('#btn').attr('disabled',true);
					}else if($(this).val()!==$('#password').val()){
						$('.message-repass').html('两次密码不一致').css('color','red');
						$('#btn').attr('disabled',true);
					}else{
						$('.message-repass').html('');
						$('#btn').attr('disabled',false);
					}
				});
				//点击注册按钮,将email,username,password,status,role,create_time这些数据
				//发送到后台--->后台将这些数据存储到数据库中
				//初始存入的status都为可用状态1.
				$('#btn').click(function(){
					var date=new Date();
					var currentTime=date.getFullYear()+'/'+Number(date.getMonth()+1)+'/'+date.getDate();
					//根据注册时的用户名判断
					//获取到表单中输入的数据,并发送到后台
					$.post('/getRegister',{
						email:$.trim($('#email').val()),
						username:$.trim($('#email').val()),
						password:$.trim($('#password').val()),
						status:1,
						role:'guest',
						create_time:currentTime
					},function(result){
						if(result.success==='error'){
								alert(result.data);
								window.location.reload();
							}else{
								alert(result.data);
								window.location.href='/login';
							}
					})
				});	
			})
		</script>
	</body>
</html>
